@import "../../../common";

:host {
  margin: 10px;
  border-radius: 5px;
  background: $color-white-dark;
}

.header {
  font-size: 12pt;
  padding: 5px 15px;
  border-bottom: solid 1px black;
}

.body {
  font-weight: 500;
  color: $color-blue-dark;
  padding: 10px 15px;
}
