@import "../../common.scss";

:host {
  width: 300px;
  height: 30px;
  position: fixed;
  z-index: 1000;
  top: 10px;
  right: 40px;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border: solid 5px;
  border-color: $color-main;

  input {
    @include Simple;
    position: relative;
    border: none;
    background-color: transparent;
    height: 100%;

    &:focus {
      outline: none;
    }
  }
}
