:host {
  padding: .5em;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: .5em;

  input {
    border: none;
    background-color: transparent;
    font-size: 13pt;

    &:focus {
      outline: none;
    }
  }
}
