@import "../../common";

:host {
  height: 50px;
  background: $color-blue-light;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0 1rem;
}

.login {
  height: 30px;
  border: none;
  border-radius: 15px;
  padding: 0 1em;
  background: $color-white-dark;
}
