<h2>{{info.title}} </h2>
<h3>{{info.original_title}}</h3>
<h5>{{info.info.tagline}}</h5>
<span>Рейтинг: {{info.vote_average}}  </span>
<span>Количество оценивших:{{info.vote_count}}</span>
<p>{{info.adult ? "Для взрослых" : "нет ограничения в возрасте"}}</p>
<span>Статус: {{info.info.status}}</span>
<p>
  Описание:<br />
  {{info.overview}}
</p>
<p>
  <span>Жанр: </span>
  <span *ngFor="let id of info.genre_ids">{{tmdbRepository.genres[id]}}, </span>
</p>
<p>Бюджет: {{info.info.budget}} $</p>
<span>Сборы: {{info.info.revenue}} $</span>
<p>Оригинальный язык: {{info.original_language}}</p>
<p>Популярность: {{info.popularity}}</p>
<p>Дата релиза: {{info.release_date}}</p>
<p>Страна произвадства:
  <span *ngFor="let cntry of info.info.production_countries">{{cntry.name}}, </span>
</p>
<p>video(непонятный булевый аттрибут): {{info.video ? 'да' : 'нет'}}</p>
<div class="videos">
  <span>Видеоролики:</span>
  <a
    *ngFor="let video of info.info.videos?.results"
    [href]="'https://www.youtube.com/watch?v='+video.key"
    target="_blank"
  >{{video.type}} - {{video.name}}</a>
</div>
<div *ngIf="btns && btns.length">
  <button
    *ngFor="let btn of btns"
    type="button"
    (click)="btn.handler()"
  >
    {{btn.title}}
  </button>
</div>
