@import "../../../common";

:host {
  @include Highlight;
  display: flex;
  padding: 0 20px;
  height: 30px;
  align-items: center;
  width: fit-content;
  color: $color-white;

  &.primary {
    background-color: $color-blue;
  }
  &.success {
    background-color: $color-green;
  }
  &.danger {
    background-color: $color-red;
  }
}
