@import "../../common";

form {
  color: $color-white;
}

input {
  outline: none;
  background: transparent;
  color: $color-white;
  border-radius: 5px 0 0 5px;
  border: solid 1px $color-white;
  border-right: none;
  width: 5em;
}

button {
  outline: none;
  background: transparent;
  color: $color-white;
  border-radius: 0 5px 5px 0;
  border: solid 1px $color-white;
  border-left: none;
}
