:host {
  width: 100%;
  box-sizing: border-box;
  display: flex;

  .film-section {
    display: flex;
    flex-direction: column;
    width: 20%;
    box-sizing: border-box;
    padding: 1em;
  }

  .search-panel {
    margin: 0 0 10px 0;
  }

  .view-content {
    width: 80%;
    padding: 1em;
    box-sizing: border-box;
  }
}
