@import "../../common.scss";

:host {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;

  .user-panel {
    @include main-shadow;
    display: flex;
    flex-direction: column;
    width: 250px;
    box-sizing: border-box;
    height: 100%;
    background-color: $color-BG;

    .user-details {
      @include Simple;
      height: 50px;
      background-color: $color-main;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-gray-light;
    }
  }

  .view-content {
    @include main-shadow;
    background-color: white;
    width: 100px;
    flex-grow: 1;
    overflow: auto;
    box-sizing: border-box;
  }
}
