@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// color
$color-blue-dark: rgb(50,70,80);
$color-blue-light: rgb(150,180,200);
$color-white-dark: rgb(220,220,220);
$color-white: white;

$color-danger: rgb(200, 100, 100);
$color-primary: rgb(100, 100, 200);
$color-success: rgb(100, 200, 100);

// font
$font-main: 'Fira Sans Extra Condensed';
$fira-weight-thin: 100;
$fira-weight-extra-light: 200;
$fira-weight-light: 300;
$fira-weight-regular: 400;
$fira-weight-medium: 500;
$fira-weight-semi-bold: 600;
$fira-weight-bold: 700;
$fira-weight-extra-bold: 800;
$fira-weight-black: 900;

