@import "../../../common.scss";

:host {
  display: flex;
  flex-direction: column;

  .shorts {
    @include Simple;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    color: $color-white;
    background-color: $color-secondary;
  }

  .genres {
    @include Simple;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .2);
    height: 30px;
    color: $color-white;
    background-color: $color-main;
  }

  .descriptions {
    margin-top: 10px;
    display: flex;

    app-paragrah {
      padding: 0 10px;
    }
  
    .other {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      color: $color-white;
      width: 300px;
      flex-shrink: 0;
  
      padding: 10px 10px 10px 20px;
      background: $color-secondary;
    }
  }
}
