:host {
  padding: 1em 0;
  display: flex;
  flex-direction: column;

  .shorts {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
  }

  .genres {
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    background: rgba(0, 0, 0, .2);
  }

  app-paragrah {
    padding: 0 10px;
  }

  .other {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: 3em;
    padding: .5em;
    background: rgba(0, 0, 0, .2);
  }
}
