@import "../../../common";

.item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  color: black;

  &:hover {
    background: $color-blue-dark;
    color: $color-white;
  }

  span {
    padding: 5px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 5px;

    &:hover {
      color: chocolate;
    }
  }
}

.not-found {
  color: black;
}
